<section id="banner" class="banner section section-lg section-shaped">
	<div class="shape shape-style-1 shape-primary">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div id="banner_container" class="banner-container container text-center">
		<div class="banner-title text-white"><span class="banner-title-inner"><%= theme.banner_text %></span>
		</div>
	</div>
</section>