<article class="post post-full card bg-white shadow-sm border-0" id="post-archive" class="post-archive page type-page status-publish hentry">
<header class="post-header text-center">
		<a class="post-title" href="<%= config.url %>/archives">归档</a>
</header>
<div class="post-content" id="post_content">
	<div class='argon-timeline'>
	<% var las = -1 ; %>
<% site.posts.each(function(post){ 
	if (las < full_date(post.date , 'YYYY')){
		%>
		<div class='argon-timeline-node'>
			<div class='argon-timeline-time archive-timeline-year'><%= full_date(post.date , 'YYYY') %></div>
			<div class="argon-timeline-card card bg-gradient-secondary archive-timeline-title"></div>
		</div>
		<%
	}
	las=full_date(post.date,'YYYY');%>
	<%- partial('archive-shot', {post: post, index: true}) %>
	<% }) %>
	</div>
</div>
</article>
