<div class='argon-timeline-node'>
	<div class='argon-timeline-time'><%- full_date(post.date,'MM-DD') %></div>
	<div class='argon-timeline-card card bg-gradient-secondary archive-timeline-title'>
		<a href="<%= url_for(post.path) %>"><%= post.title %></a>
	</div>
</div>